<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Contact US</title>
    
    <!--  Website icon links  -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='favicon-16x16.png') }}">
    <!-- <link rel="manifest" href="/site.webmanifest"> -->
    
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.css') }}"/>
  
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>
    
    <link rel="stylesheet" href="{{ url_for('static',filename='style2.css') }}">
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet"/>
    
    <!-- responsive style -->
    <link href="{{ url_for('static',filename='responsive.css') }}" rel="stylesheet"/>
  </head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header style="padding: 0;" class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <nav style="padding: 5;" class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="{{ url_for('index') }}">
                <span style="font-size: 25px; padding:3px 5px; font-weight:900; text-shadow: #5ac7af 3px 2px;">
                  <img src="{{ url_for('static',filename='favicon-16x16.png') }}" alt="" style="width: 30px; border: white solid 1px; border-radius: 25%;">&nbsp&nbsp
                  Reservatio
                </span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-direction: row-reverse;">
                <div class="d-flex  flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                      <a class="nav-link nav_items" href="{{ url_for('index') }}">Get Started<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav_items" href="{{ url_for('instructions') }}">How to Use?</a>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container contact_heading">
      <h2>
        Contact Us
      </h2>
      <p>
        Get in touch incase of any issues
      </p>
    </div>
  <div class="container" style="color: #1C806A">
    <b>
      <form>
        <div class="form-box">
        
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName4">Name</label>
            <input type="text" class="form-control" id="inputName4"/>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4"/>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputNumber4">Phone number</label>
            <input type="tel" class="form-control" id="inputNumber4"/>
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">Enter Restaurant</label>
            <input type="text" class="form-control" id="inputState" placeholder=""/>
            
          </div>
        
        </div>
        <div class="form-group">
          <label for="inputMessage">Message</label>
          <input type="text" class="form-control" id="inputMessage" placeholder=""/>
        </div>
      </b> 
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="">Send</button>
    </div>
    </form>
    
  </section>


  <!-- end contact section -->
  <script type="text/javascript" src="{{ url_for('static',filename='jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='bootstrap.js') }}"></script>
</body></html>