<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>How to Use</title>
    
    <!--  Website icon links  -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='favicon-16x16.png') }}">
    <!-- <link rel="manifest" href="/site.webmanifest"> -->
    
    <!-- slider stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.css') }}"/>
  
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>
    
    <link rel="stylesheet" href="{{ url_for('static',filename='style2.css') }}">
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet"/>
    
    <!-- responsive style -->
    <link href="{{ url_for('static',filename='responsive.css') }}" rel="stylesheet"/>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <!--________________________________________________________________________________________________________________________________________-->
  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section py-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <nav style="margin-bottom: 0;" class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                  <span style="font-size: 25px; padding:3px 5px; font-weight:900; text-shadow: #5ac7af 3px 2px;">
                    <img src="{{ url_for('static',filename='favicon-16x16.png') }}" alt="" style="width: 30px; border: white solid 1px; border-radius: 25%;">&nbsp&nbsp
                    Reservatio
                  </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
  
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-direction: row-reverse;">
                  <div class="d-flex  flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link nav_items" href="{{ url_for('index') }}">Get Started</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link nav_items" href="{{ url_for('contact') }}">Contact Us<span class="sr-only">(current)</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
    
      <!-- end header section -->
      <!-- slider section -->
      <section class=" slider_section " style="background: linear-gradient( 0deg,#1AA789 -92.53%, #1AA789 -92.51%, #d0f8e7 57.43%); ">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
           
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active ">
                <img class =" mx-auto" src="{{ url_for('static',filename='Page 1.png') }}" alt="Page 1" style="width:85%;">
              </div>
        
              <div class="item">
                <img class =" mx-auto" src="{{ url_for('static',filename='Page 2.png') }}" alt="Page 2" style="width:85%;">
              </div>
            
              <div class="item">
                <img class =" mx-auto" src="{{ url_for('static',filename='Page 3.png') }}" alt="Page 3" style="width:85%;">
              </div>
            </div>
        
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </section>
      
      
     
    
      <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-0 px-4 px-xl-5 " style="background-color: #1aa789 ; ">
    
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0" styl>
       <p style="padding-bottom: 5px; padding-top: 20px;">Copyright © 2020. All rights reserved.</p> 
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fa fa-facebook pr-4" style="color: #4267B2;padding-top: 20px;"></i>
        </a>
        <a href="#!" class=" me-4">
            <i class="fa-brands fa-square-instagram fa-lg fa-lg" style="color: #E1306C; size: 50px;"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
  
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='bootstrap.js') }}"></script>
  
  </body>
</html>